body {
	background-color: #eeeee6;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

h1 {
  font-family: "Merriweather", sans-serif;
}

p {
	font-size: 14px;
	}

/* Top Banner */
.topbanner {
	padding: 12px;
	margin: none;
	justify-content: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

/* Navigation */
.topnav {
	display: flex;
	justify-content: center;
	overflow: hidden;
	padding: 12px;
}
	
.topnav a {
	float: left;
  color: #242424;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

.topnav a:hover {
  background-color: none;
  color: black;
}

.topnav a.active {
  background-color: none;
  color: #242424;
	text-decoration: underline;
}

/* Header */
.header {
  padding: none;
}

.responsive {
  width: 100%;
  height: auto;
}

/* Page Content */
.content	 {
  max-width: 720px;
	margin: auto;
	margin-top:-25px;
  padding: 25px;
	text-align: center;
}

* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  -ms-flex: 50%; /* IE 10 */
  float: left;
  width: 33.33%;
  padding: 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}


/* Style the footer */
footer {
	margin-top: 25px;
	padding: 25px;
	text-align: center;
}

.footer {
	display: flex;
	overflow: hidden;
	padding: 12px;
	justify-content: center;
}

.footer a {
	float: left;
  color: #242424;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
  font-size: 14px;
}

.footer a:hover {
  background-color: none;
  color: black;
}